App/build
App/Pods
App/output
App/App/public
DerivedData
xcuserdata

# Cordova plugins for Capacitor
capacitor-cordova-ios-plugins

# Generated Config files
App/App/capacitor.config.json
App/App/config.xml

dist-app/
ios/
android/
build/
.DS_Store

# iOS/Android derleme ve kaynakları - SON AŞAMAYA KADAR GİTME
ios/
android/
resources/

# Derleme çıktıları
build/
dist/
dist-app/
